.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#f8f8f8;
    color: #2c2c2c;
    text-align: center;
    font-family: "Gotham Bold",Arial, sans-serif;
    padding: 0 20px;
  }
  
  .header {
    font-size: 6em;
    margin: 0;
  }
  
  .subHeader {
    font-size: 2em;
    margin: 10px 0;
  }
  
  .paragraph {
    font-size: 1.2em;
    margin: 20px 0;
  }
  
  .link {
    font-size: 1em;
    color:  #2287eb;
    text-decoration: none;
    border: 1px solid  #2287eb;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .link:hover {
    background-color:  #2287eb;
    color: #f8f8f8;
  }
  