/* navigation.module.css */

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #2287eb, #004d99);
    padding: 20px;
    color: white;
}

.navLogo {
    font-size: 24px;
    font-weight: bold;
}

.navLinks {
    display: flex;
    gap: 20px;
}

.navLink {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navLink:hover {
    color: #80bfff;
}

ul li{
    list-style: none;
}